body {
  margin: 0;
  font-family: 'Nunito', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p{
  color:#463188;
  font-family: 'Nunito', 'sans-serif';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e1d8fe;
  border-radius: 200px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a7a7a7;
  border-radius: 200px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6f42ff;
}



/* Toggle component Style*/
.switch {
  position: relative;
  display: inline-block;
  width: 29px;
  height: 16px;
  margin: 0px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2;
}

.slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 1px;
  right: 1px;
  top: 1px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*  Toggle component Style    */
.switch {
  position: relative;
  display: inline-block;
  width: 29px;
  height: 16px;
  margin: 0px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2;
}

.slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 1px;
  right: 1px;
  top: 1px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #6f42ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6f42ff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* // Rounded sliders  */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


:root {
  --balloon-color: rgb(0,0,0,0.8);
}